<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add new host - Hamster Resque</title>
</head>

<body>

    <form action="#" th:action="@{/hosts/add_new_host}" method="post" th:object="${host}">
        <label>Name:</label>
        <input type="text" th:field="*{name}" /><br />

        <label>Address:</label>
        <input type="text" th:field="*{address}" /><br />

        <label>Holding capacity:</label>
        <input type="text" th:field="*{capacity}" /><br />
        <br />

        <label>Status:</label>
        <select th:field="*{hostStatus}">
            <option th:each="hs : ${listStatus}" th:value="${hs}" th:text="${hs}" />
        </select>
        <br />

        <button type="submit">Add</button>
    </form>
</body>

</html>