<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Current hosts by city- Hamster Resque</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>

<body>
    <table>
        <thead>
            <tr>
                <th id="host-header" colspan="5">List of current hosts live in: <span th:text="${city}"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr id="table-header">
                <th>Name of host</th>
                <th>Address</th>
                <th>Capacity</th>
                <th>Free capacity</th>
                <th>Active/Inactive</th>
            </tr>
            <tr th:each="host : ${hosts}">
                <td th:text="${host.name}"></td>
                <td th:text="${host.address}"></td>
                <td th:text="${host.capacity}"></td>
                <td th:text="${host.freeCapacity}"></td>
                <td th:text="${host.hostStatus.hostStatus}"></td>
            </tr>
        </tbody>
    </table>





    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>

</html>