<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Host and hamsters - Hamster Resque</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


<body>

    <div>
        <a class="btn btn-secondary" th:href="@{/home}">back to index</a> <br>
    </div>


     <div class="container-fluid my-3">
        <table class="table" aria-describedby="hostListAll">
            <thead>
                <tr>
                    <th class="text-center" colspan="8" scope="col">List of host by name and the hamsters in care <span th:text="${name}"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Name of host</th>
                    <th scope="col">Location</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">List of current hamsters in care</th>
                </tr>
                <tr th:each="host : ${hosts}">
                    <td th:text="${host.name}"></td>
                    <td th:text="${host.addressDto.town}"></td>
                    <td th:text="${host.capacity}"></td>
                    <td colspan="3">
                        <table>
                            <tbody>
                                <tr id="table-header">
                                    <th>Name</th>
                                    <th>Status</th>
                                </tr>
                                <tr th:if="${#lists.isEmpty(host.hamsters)}">
                                    <td colspan="2">no hamster yet</td>
                                </tr>
                                <tr th:each="hamster : ${host.hamsters}" th:if="${not #lists.isEmpty(host.hamsters)}">
                                    <td th:text="${hamster.name}"></td>
                                    <td th:text="${hamster.hamsterStatus.status}"></td>
                                </tr>


                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    




    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>


</body>

</html>