<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Host page - Hamster Resque</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">




</head>
<body>
    <div>
        <a class="btn btn-secondary" th:href="@{/home}">back to index</a> <br>
    </div>

    <div class="container-fluid">
        <div>
            <table class="table" aria-describedby="hostByName">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center"><span th:text="${host.name}"></span>'s page</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name: <span th:text="${host.name}"></span></td>
                        <td colspan="2">Address: <span th:text="${fullAddress}"></span></td>
                    </tr>
                    <tr>
                        <td>Email: <span th:text="${host.contactsDto.email}"></span></td>
                        <td>Phone: <span th:text="${host.contactsDto.phoneNumber}"></span></td>
                        <td>Other contact info: <span th:text="${host.contactsDto.otherContact}"></span></td>
                    </tr>
                    <tr>
                        <td>Holding capacity: <span th:text="${host.capacity}"></span></td>
                        <td colspan="2">Status: <span th:text="${host.getHostStatus()}"></span></td>
                    </tr>
                    <tr>
                        <table class="table">
                            <thead>Hamsters: </thead>
                            <tbody>
                                <tr id="table-header">
                                    <th>Name</th>
                                    <th>Species</th>
                                    <th>Gender</th>
                                    <th>Status</th>

                                </tr>
                                <tr th:if="${#lists.isEmpty(host.hamsters)}">
                                    <td colspan="2">no hamster yet</td>
                                </tr>
                                <tr th:each="hamster : ${host.hamsters}" th:if="${not #lists.isEmpty(host.hamsters)}">
                                    <td th:text="${hamster.name}"></td>
                                    <td th:text="${hamster.hamsterSpecies.nameOfSpecies}"></td>
                                    <td th:text="${hamster.gender.gender}"></td>
                                    <td th:text="${hamster.hamsterStatus.status}"></td>
                                </tr>
                            </tbody>
                        </table>

                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>



</body>
</html>