<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add new hamster - Hamster Resque</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


</head>

<body>
    <div>
        <a class="btn btn-secondary" th:href="@{/home}">back to index</a> <br>
    </div>


    <div class="container-fluid">
        <div class="row m-4">
            <header class="display-6 text-info text-center">Add new hamster</header>
            <div class="col-4">

                <form action="#" th:action="@{/hamsters/create_hamster}" method="post" th:object="${hamster}">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input class="form-control" type="text" th:field="*{name}">
                        <div class="form-text text-secondary">Name is required.</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Hamster species</label>
                        <select class="form-control" lass="form-select" aria-label="Default select example"
                            th:field="*{hamsterSpecies}">
                            <option th:each="sp : ${listSpecies}" th:value="${sp}" th:text="${sp}">
                        </select>
                        <div class="form-text text-secondary">Select the hamster's species.</div>

                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Color</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{color}">
                        <div class="form-text text-secondary">Color is required.</div>

                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Gender</label>
                        <select class="form-control" lass="form-select" aria-label="Default select example"
                            th:field="*{gender}">
                            <option th:each="g : ${listGenders}" th:value="${g}" th:text="${g}">
                        </select>
                        <div class="form-text text-secondary">Select the gender of the hamster.</div>

                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Date of birth (yyyy-mm-dd):</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{dateOfBirth}">
                        <div class="form-text text-secondary">Can be pproximate, if not known exactly.</div>

                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Hamster status</label>
                        <select class="form-control" lass="form-select" aria-label="Default select example"
                            th:field="*{hamsterStatus}">
                            <option th:each="hs : ${listStatus}" th:value="${hs}" th:text="${hs}">
                                <div class="form-text text-secondary">Select the status of the hamsters.</div>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Beginning of the foster (yyyy-mm-dd):</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{startOfFoster}">
                        <div class="form-text text-secondary">When did we get it?</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Temporary host ID</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{hostId}">
                        <div class="form-text text-secondary">ID of the temporary host.</div>

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{description}"
                            rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>
                    </div>
                    

                    <button type="submit" class="btn btn-info">Add new hamster</button>
                </form>
            </div>
            
            


        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>