<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current hamsters in care</title>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="display-6 text-info">Current hamsters in care</h3>
            </div>
        </div>
        <div class="row">
            <div th:each="hamster : ${hamsters}" class="col-4">
                <div class="card">
                    <a href="#"><img src="/img/card3.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h5 class="h5 text-info card-title lh-base" th:text="${hamster.name}"></h5>
                        <p class="card-text fs-6 lh-base mb-3 ">
                            <span>Gender:</span> <span th:text="${hamster.gender}"></span><br>
                            <span>Birth:</span> <span th:text="${hamster.dateOfBirth}"></span><br>
                            <span>Species:</span> <span th:text="${hamster.hamsterSpecies.nameOfSpecies}"></span><br>
                            <span>Location:</span> <span th:text="${hamster.location}"></span>

                        <div class="row align-items-center">
                            <div class="col"> <a href="#" class="btn btn-warning">Read description</a>
                            </div>
                            <div class="col text-end">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
<table>
    <thead>
    <tr>
        <th id="hamsterHeader" colspan="6">List of current hamsters in care</th>
    </tr>
    </thead>
    <tbody>
    <tr id="tableHeader">
        <th>Hamster's name</th>
        <th>Species</th>
        <th>Gender</th>
        <th>Date of admission</th>
        <th>Host</th>
        <th>Hamster's status</th>
    </tr>
    <tr th:each="hamster : ${hamsters}">
        <td th:text="${hamster.name}"></td>
        <td th:text="${hamster.hamsterSpecies}"></td>
        <td th:text="${hamster.gender}"></td>
        <td th:text="${hamster.startOfFostering}"></td>
        <td th:text="${hamster.host.name}"></td>
        <td th:text="${hamster.hamsterStatus}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>