<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hamster Menu - Hamster Resque</title>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <!--<link th:href="@{/css/main.css}" rel="stylesheet" />-->
  <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />


</head>

<body>

  <div class="menu">
    <h2>hamster menu</h2>

    <button type="button" class="btn btn-outline-success" onclick="addNewHamster()">add new hamster</button>

    <button type="button" class="btn btn-outline-info" onclick="openSelectedHamsterPage()">Open hamster page</button>

    <button type="button" class="btn btn-outline-info" onclick="changeSelectedHamsterAttributes()">change attributes of
      a
      hamster</button>

    <button type="button" class="btn btn-outline-primary" onclick="listOfAllCurrentHamsters()">list of current
      hamsters</button>

  </div>

  <div id="display-function-in-menu">

  </div>


  <script>
    function addNewHamster() {
      $("#display-function-in-menu").load("/hamsters/create_hamster");

    }

    function listOfAllCurrentHamsters() {
      $("#display-function-in-menu").load("/hamsters/current_hamsters");

    }

    function findHamstersByName() {
      let text;
      let person = prompt("Please enter the name of hamster:");
      if (person == null || person == "") {
        window.alert("Name cannot be empty!");
      } else {
        $("#display-function-in-menu").load("list_of_hamsters_by_name.html");

      }
      document.getElementById("display-function-in-menu").innerHTML = text;
    }

    function openSelectedHamsterPage() {
      let text;
      let id = prompt("Please enter the ID of hamster:");
      if (id == null || id == "") {
        window.alert("ID cannot be empty!");
      } else {
        $("#display-function-in-menu").load("/hamsters/hamster_page/" + id);
      }
      document.getElementById("display-function-in-menu").innerHTML = text;
    }
  </script>


</body>

</html>