<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="menu">
        <h2>host menu</h2>
        <button type="button" class="btn btn-outline-success" onclick="addNewHost()">add new host</button>

        <button type="button" class="btn btn-outline-info" onclick="changeAttributesOfHost()">change attributes of a host</button>

        <button type="button" class="btn btn-outline-info" onclick="listOfCurrentHosts()">list of current hosts</button>

        <button type="button" class="btn btn-outline-info" onclick="listOfCurrentHostsWithFreeCapacity()">list of hosts with free capacity</button>

        <button type="button" class="btn btn-outline-info" onclick="findHostByName()">list of hosts by name</button>

        <button type="button" class="btn btn-outline-info" onclick="findHostByCity()">list of hosts by city</button>


        <button type="button" class="btn btn-outline-info" onclick="listOffAllHamstersOfHost()">hamsters of a host</button>

        <button type="button" class="btn btn-outline-warning" onclick="setHostInactive()">set host inactive</button>

    </div>

    <div id="display-function-in-menu">

    </div>

    <script>
        function addNewHost() {
            $("#display-function-in-menu").load("/hosts/add_new_host");

        }

        function listOfCurrentHosts() {
            $("#display-function-in-menu").load("/hosts/current_hosts");

        }
        function listOfCurrentHostsWithFreeCapacity() {
            $("#display-function-in-menu").load("/hosts/current_hosts_free_capacity");

        }
        function changeAttributesOfHost() {
            $("#display-function-in-menu").load("/hosts/change_host_attributes");

        }

        function findHostByCity() {
            let text;
            let city = prompt("Please enter the city:");
            if (city == null || city == "") {
                window.alert("Field cannot be empty!");
            } else {
                $("#display-function-in-menu").load("/hosts/current_hosts_by_city/" + city);

            }
            document.getElementById("display-function-in-menu").innerHTML = text;
            $("#display-function-in-menu").load("/hosts/current_hosts_by_city/" + city);

        }
        function findHostByName() {
            let text;
            let name = prompt("Please enter the name:");
            if (name == null || name == "") {
                window.alert("Field cannot be empty!");
            } else {
                $("#display-function-in-menu").load("/hosts/hosts_by_name_and_hamsters/" + name);

            }
            document.getElementById("display-function-in-menu").innerHTML = text;
            $("#display-function-in-menu").load("/hosts/hosts_by_name_and_hamsters/" + name);

        }

    

        function listOffAllHamstersOfHost() {
            let text;
            let id = prompt("Please enter the name:");
            if (id == null || id == "") {
                window.alert("ID cannot be empty!");
            } else {
                $("#display-function-in-menu").load("/hosts/host_current_hamsters/" + name);

            }
            document.getElementById("display-function-in-menu").innerHTML = text;

            $("#display-function-in-menu").load("/hosts/host_current_hamsters/" + name);

        }

    </script>

</body>

</html>