<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hungarian Hamster Resque </title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />


</head>
<body>
<!--Navigation bar
<div id="nav-placeholder">
</div>

<script type="text/javascript" th:src="@{/js/navbar.js}"></script>
end of Navigation bar-->

<div th:insert="navbar :: navbar">  </div>






<div align="center">
    <h2>Hamster Resque</h2>
    <a href="/hamsters/create_hamster">Click here to add new hamster</a><br>
    <a href="/hamsters/current_hamsters">Click here to list current hamster</a>
</div>
</body>
</html>