<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Hungarian Hamster Resque </title>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />



</head>

<body>
    <div>
        <p>
            <button type="button" class="btn btn-outline-info" onclick="hamster_menu()">hamsters</button>
            <button type="button" class="btn btn-outline-info" onclick="host_menu()">hosts</button>
            <button type="button" class="btn btn-outline-info" onclick="adoptive_menu()">adoptives</button>
        </p>

    </div>


    <div id="display-function" style="border: 3px;">

    </div>
    <script>
        function hamster_menu() {
            $("#display-function").load("/hamster_menu");

        }
    
        function host_menu() {
            $("#display-function").load("/host_menu");

        }
   
        function adoptive_menu() {
            $("#display-function").load("/adoptive_menu");

        }
    </script>
    


</body>

</html>