table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead, td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#hostHeader, #tableHeader, #hamsterHeader{
    background-color: #9ba8e8;
    text-align: center;
    color: white;
}
tr:nth-child(even) {
    background-color: #b6bcde;
}
tr:nth-child(odd) {
    background-color: #e6eaff;
}
